apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: vector
data:
  vector.yaml: |-
    api:
      enabled: true
      address: "0.0.0.0:8686"
      playground: false

    sources:
      gcp_pubsub_source:
        type: gcp_pubsub
        project: project
        subscription: project-prd-gke-log-sub 
        credentials_path: /cert/prd-pub-sub.json
        decoding:
          codec: json

    transforms:
      flatten_json_payload:
        type: remap
        drop_on_error: true
        drop_on_abort: true
        reroute_dropped: true
        inputs: [gcp_pubsub_source]
        source: |
          if exists(.attributes){
            del(.attributes)
          }
          if exists(.receiveTimestamp){
            del(.receiveTimestamp)
          }      
          if exists(.timestamp){
            .@timestamp = .timestamp
            del(.timestamp)
          }    
        
          if exists(.jsonPayload){
            . |= merge!(., .jsonPayload)
            del(.jsonPayload)
          } else if exists(.textPayload){
            
            .textPayload = strip_ansi_escape_codes!(.textPayload)
            .grok_msg = parse_grok!(.textPayload, "^\\[%{WORD:appname}\\] \\[%{DATA:date}\\] \\[%{LOGLEVEL:level}\\] #std_logger=%{GREEDYDATA:msg}$")
            . |= merge(., .grok_msg)
            .message = parse_json!(.msg)
            . |= merge!(., .message)

            del(.textPayload)
            del(.grok_msg)
            del(.msg)

          }
          
          if !exists(.topic) {
            .topic = "vector_transform_failed"
          }

      # 파싱 실패한 이벤트들의 목적지 지정
      tag_failed_events:
        type: remap
        inputs: [flatten_json_payload.dropped]
        source: |
          .topic = "vector_transform_failed"
          
    sinks:
      kafka_sink:
        type: kafka
        inputs: [flatten_json_payload, tag_failed_events]
        bootstrap_servers: "broker-01:9092,broker-02:9092,broker-03:9092,broker-04:9092,broker-05:9092"
        topic: "{{ topic }}" # 토필 필드를 토필 키로 활용
        compression: lz4
        batch:
          max_bytes: 8388608  # 8MB
          max_events: 65536
          timeout_secs: 2
        encoding:
          codec: json
        healthcheck_topic : vector_healthcheck
