apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: vector
    service: service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vector
  template:
    metadata:
      labels:
        app: service-prd-vector
        app.kubernetes.io/name: service-prd-vector
        app.kubernetes.io/instance: service
    spec: 
      containers:
      - name: service-prd-vector
        image: asia-northeast3-docker.pkg.dev/project/artifact-registry/vector-prd
        ports:
          - name: vector-api
            containerPort: 8686
        resources:
          requests:
            cpu: 500m
            memory: 512Mi                    
          limits:
            cpu: 800m
            memory: 800Mi                 
        volumeMounts:
          - name: vector-buffer
            mountPath: /var/lib/vector
          - name: vector-prd-config
            mountPath: /etc/vector/vector.yaml
            subPath: vector.yaml
          - name: prd-pub-sub-key
            mountPath: /cert/prd-pub-sub.json
            subPath: prd-pub-sub.json            
      volumes:
        - name: vector-buffer
          emptyDir: {}
        - name : vector-prd-config
          configMap:
            name: vector-prd-config
            items:
              - key: vector.yaml
                path: vector.yaml
        - name: prd-pub-sub-key
          secret:
            secretName: prd-gke-log-sub          
