# Default values for kafka-connect.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: confluentinc/cp-kafka-connect
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "7.5.4"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

servicePort: 8083

env:
  kafka:
    bootstrapServers: "broker-01:9092,broker-02:9092,broker-03:9092"
  keyConverter: "org.apache.kafka.connect.json.JsonConverter"
  valueConverter: "org.apache.kafka.connect.json.JsonConverter"
  internalValueConverter: "org.apache.kafka.connect.json.JsonConverter"
  internalKeyConverter: "org.apache.kafka.connect.json.JsonConverter"
  connectPluginPath: "/usr/share/java,/usr/share/confluent-hub-components"
  # This is for setting the heap options for the Kafka Connect container.
  heapOptions: "-Xms512m -Xmx512M"


## @param initContainers Add additional init containers to the Kafka-UI pods
## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
## e.g:
# initContainers: {}
initContainers:
  - name: install-connectors
    image: busybox
    command:
      - 'sh'
      - '-c'
      - |
        echo "Downloading connectors..."
        wget -q -O /usr/share/confluent-hub-components/confluentinc-kafka-connect-http-1.7.10.zip https://hub-downloads.confluent.io/api/plugins/confluentinc/kafka-connect-http/versions/1.7.10/confluentinc-kafka-connect-http-1.7.10.zip        
        unzip /usr/share/confluent-hub-components/confluentinc-kafka-connect-http-1.7.10.zip -d /usr/share/confluent-hub-components
    volumeMounts:
      - name: connect-plugins # 아래 볼륨과 이름이 같아야 합니다.
        mountPath: /usr/share/confluent-hub-components

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 8083

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false

resources:
  limits:
    cpu: 800m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 512Mi
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /connectors
    port: 8083
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /connectors
    port: 8083
  initialDelaySeconds: 0
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 3
startupProbe:
  httpGet:
    path: /connectors
    port: 8083
  initialDelaySeconds: 90
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 30  # 최대 5분까지 기다림


# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: 
  - name: connect-plugins
    emptyDir: {}
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: 
- name: connect-plugins
  mountPath: "/usr/share/confluent-hub-components"

nodeSelector: {}

tolerations: []

affinity: {}
